* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
:root{
    /* colors */
    --primary: #ff52bf;
    --neutral-pale: hsl(193, 100%, 96%);
    --neutral-dark: hsl(192, 100%, 9%);
    --neutral-blue: hsl(208, 11%, 55%);
    --heading: 'Poppins', sans-serif;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.p-1{
    padding: 1rem;
}
img{
    width: 100%;
    display: block;
}

/* header */
header{
    background-image: url('../images/bg-hero-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.logoContainer{
    width: 15%;
}







@media screen and (max-width: 750px){

    header{
        background-image: url('../images/bg-hero-mobile.svg');
    }
}