* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
:root{
    /* colors */
    --primary: #ff52bf;
    --neutral-pale: hsl(193, 100%, 96%);
    --neutral-dark: hsl(192, 100%, 9%);
    --neutral-blue: hsl(208, 11%, 55%);
    --dark: #0a242f;
    --headeing: 'Poppins', sans-serif;
}
body{
    color: var(--neutral-dark);
}
a {
        text-decoration: none;
        color: inherit;
    }
ul{
    list-style: none;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.my-1{
    margin: 1rem 0;
}
.my-2{
    margin: 2rem 0;
}
.my-3{
    margin: 3rem 0;
}
.mb-2{
    margin-bottom: 2rem;
}
.py-1{
    padding: 1rem 0;
}
.py-2{
    padding: 2rem 0;
}
.px-1{
    padding: 0 1rem;
}
img{
    width: 100%;
    display: block;
}
.btn{
    padding: 15px 70px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 10px 20px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-size: 14px;
}
.btn-primary{
    background-color: var(--primary);
    color: #eee;
}

/* header */
header{
    background-image: url('../images/bg-hero-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #edfafe;
    font-family: var(--headeing);
    margin-bottom: 4rem;
}
.logoContainer{
    width: 15%;
}
.textContainer{
    width: 45%;
    padding-right: 2rem;
}
.heroImage{
    width: 55%;
}
h1{
    font-size: 2.3rem;
}
header p{
    line-height: 25px;
}
/* main */
main{
    padding: 3rem 0;
}
.card{
    padding: 1rem 0;
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 2rem 0;
}
.imgCard{
    width: 40%;
    padding: 1rem;
}
.cardText{
    width: 60%;
    padding: 6rem;
}
.card h2{
    font-size: 1.6rem;
}
.card p{
    padding: 1.5rem 0;
    color: var(--neutral-blue);
}
.row-reverse{
    flex-direction: row-reverse;
}
/* footer */
footer{
    background-color: var(--dark);
    padding: 3rem 0;
   
}
footer ul{
    color: #eee;
}
.footerLogo{
    width: 20%;
}
.footerLogo img{
    filter: saturate(0) invert(1) brightness(1.5);
}
footer ul{
    width: calc(100% / 4);
    padding: 2rem 1rem;
}
footer li{
    font-size: .8rem;
    color: var(--neutral-blue);
}

footer p:last-child{
    font-size: .6rem;
    color: var(--neutral-blue);
    text-align: right;
}


@media screen and (max-width: 750px){

    header{
        background-image: url('../images/bg-hero-mobile.svg');
    }
}